body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

img {
    height: 50px;
    margin-top: 9px;
    margin-bottom: 0px;
}

#feat {
    font-style: italic;
    margin-left: 40px;
}

.content-margin{
    margin-top: 15px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 76px;
    line-height: 76px;
}

nav .brand-logo {
    padding-top: 0.6em;
    height: 76px;
    line-height: 76px;
    font-size: 1.6rem; 
}

/* label underline focus color */
.row .input-field input:focus {
border-bottom: 1px solid black !important;
box-shadow: 0 1px 0 0 black !important
}
