<!DOCTYPE html>

<html lang="en">

    <head>
        <title>Device Info</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <link rel="stylesheet" type="text/css" href="../static/materialize.css">
    </head>

    <body>

        <nav>
            <div class="nav-wrapper packetColor white-text">
                <div class="container">
                    <div class="row">
                        <div class="col s12">
                            <ul>
                                <li><a href="/Devices/"><img src="https://www.packet.com/assets/images/logo-white.png"></a></li>
                                <li><a href="/Devices/">Home</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>


        <main>
            <div class="container content-margin">
                <div class="row">
                    <div class="center">
                        <br>
                        <form class="right" action="/Devices/">
                            <input class="white-text thin small" type="submit" value="GO BACK" />
                        </form>
                        <br>
                        <h5 class="center">Device: {{.ID}}</h5>
                        <h6 class="center"><b>Hostname: </b><i>{{.Hostname}}</i></h6>
                        <h6 class="center"><b>State: </b><i id="state">{{.State}}</i></h6>

                        {{if eq .State "inactive"}}
                        <form action="/Devices/">
                            <input class="white-text small" id="stateInput" type="submit" value="ACTIVATE" />
                        </form>
                        
                        {{else}}
                        <form action="/Devices/">
                            <input class="white-text small" id="stateInput" type="submit" value="DEACTIVATE" />
                        </form>
                        {{end}}

                    </div>
                    
                    <div class="col l9 m12 s12">
                        <h5 class="left"><b>Billing</b></h5><br><br>
                        <ul>
                            <li><b>Pricing: </b> ${{.Plan.Pricing.Hour}} {{.BillingCycle}}</li>
                        </ul>

                        <h5 class="left"><b>Facility</b></h6><br><br>
                        <ul>
                            <li><b>Location: </b>{{.Facility.Name}}</li>
                            <li><b>ID: </b>{{.Facility.ID}}</li>
                            <li><b>Code: </b>{{.Facility.Code}}</li>
                            
                            <li><b>Features:</b></li>
                            <ul>
                                {{range .Facility.Features}}
                                    <li id="feat">{{.}}</li>
                                {{end}}
                            </ul>

                            <li><b>IP Addresses:</b></li>
                            <ul>
                                {{range .Facility.IPRanges}}
                                    <li id="feat">{{.}}</li>
                                {{end}}
                            </ul>
                        </ul>
                        
                        <h5 class="left"><b>Operating System</b></h5><br><br>
                        <ul>
                            <li><b>ID: </b>{{.OperatingSystem.ID}}</li>
                            <li><b>Name: </b>{{.OperatingSystem.Name}}</li>

                            {{if eq .OperatingSystem.Preinstallable true}}
                            <li><b>Preinstallable: </b>Yes</li>
                            {{else}}
                            <li><b>Preinstallable: </b>No</li>
                            {{end}}

                            <li><b>Pricing: </b>${{.OperatingSystem.Pricing.hour.price}}/hr</li>
                            <li><b>Version: </b>{{.OperatingSystem.Version}}</li>

                            {{if eq .OperatingSystem.Licensed true}}
                            <li><b>Licensed: </b>Yes</li>
                            {{else}}
                            <li><b>Licensed: </b>No</li>
                            {{end}}
                        </ul>
                        
                        <h5 class="left"><b>Plan</b></h5><br><br>
                        <ul>
                            <li><b>ID: </b>{{.Plan.ID}}</li>
                            <li><b>Class: </b>{{.Plan.Class}}</li>
                            <li><b>Line: </b>{{.Plan.Line}}</li>
                        </ul>

                        <h5 class="left"><b>IP Address Information</b></h5><br><br>
                        <ul>
                            {{range .IPAddresses}}
                            <li><b>ID: </b>{{.ID}}</li>
                            <li><b>Created: </b>{{.CreatedAt}}</li>
                            <li><b>Family: </b>IPV{{.AddressFamily}}</li>
                            <li><b>Address: </b>{{.Address}}</li>
                            <li><b>Facility: </b>{{.Facility.Name}}</li>
                            <br>
                            {{end}}
                        </ul>
                        
                    </div>
                </div>
            </div>
        </main>    
            
        <footer class="page-footer white">
            <div class="footer-copyright">
                <div class="container">
                    <span class="white-text left">Version 1.0.0 (August 25th)</span>
                    <span class="white-text right">© 2019 Qualen Pollard</span>
                </div>
            </div>
        </footer>

    </body>
</html>
